<html>
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<br/>
		{% ifequal request.method "POST" %}
			{% ifequal request.POST.title title %}
				{% ifequal request.POST.body body %}
			<div class="alert alert-warning">
				<h5><strong>変更されている箇所がありません。</strong></h5>
			</div>
				{% endifequal %}
			{% endifequal %}
		{% else %}
			<div class="alert alert-info">以下のフォームから修正してください。</div>
		{% endifequal %}
			<form role="form" action="" method="post">
			{% csrf_token %}
				<div class="form-group">
					<label for='title'>題名</label>
					<input type="text" class="form-control" id="title" name="title" value="{{title}}" />
				</div>
				<div class="form-group">
					<label for="body">本文</label>
					<textarea rows="5" class="form-control" id="body" name="body">{{body}}</textarea>
				</div>
				<input type="submit" class="btn btn-lg btn-primary" value="更新" />
				<a href="/" type="button" class="btn btn-lg btn-warning">キャンセル</a>
			</form>
			<br/>
		</div>
	</body>
</html>
