<html>
	<head>
		<title>ぶろぐ</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container panel-group">
			<br/>
			<p class="text-right">
			{% if user.is_authenticated %}
				こんにちは、<strong>{{user.username}}</strong>さん。　
				<a type="button" class="btn btn-success" href="/logout/">ログアウト</a>
			{% else %}
				ログインしていません・・・。　
				<a type="button" class="btn btn-info" href="/login/?next=/">ログイン</a>
			{% endif %}
			</p>
		{% if rows %}
			{% for row in rows %}
			<div class="row panel panel-info">
				<div class="panel-heading">
					<h2 class="panel-title">{{ row.title }}
					{% ifequal user row.owner %}
						<small>
							<a class="glyphicon glyphicon-pencil" href="/{{row.id}}/edit/">編集</a>
							<a class="glyphicon glyphicon-trash" href="/{{row.id}}/delete/">削除</a>
						</small>
					{% endifequal %}
					</h2>
				</div>
				<div class="panel-body">
					<p class="lead">{{ row.body }}</p>
				</div>
				<p class="text-right">
					投稿日時{{ row.create_datetime|date:"Y/m/d,H:i" }}　
					{% ifnotequal row.create_datetime|date:"Y/m/d,H:i" row.update_datetime|date:"Y/m/d,H:i" %}
					更新日時{{ row.update_datetime|date:"Y/m/d,H:i" }}　
					{% endifnotequal %}
				</p>
			</div>
			{% endfor %}
			<br/>
		{% else %}
			<p class="lead">投稿はありません・・・・。</p>
		{% endif %}
			<div class="row">
				<a href="/new/">
					<button type="button" class="btn btn-primary btn-lg">新しく投稿する！</button>
				</a>
			</div>
			<br/>
		</div>
	</body>
</html>
