<html>
	<head>
		<title>ぶろぐ</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
		{% if rows %}
			{% for row in rows %}
			<div class="row">
				<div>
					<h2>{{ row.title }}
						<small>
							<a class="glyphicon glyphicon-pencil" href="/{{row.id}}/">編集</a>
						</small>
					</h2>
				</div>
				<div>
					<p>{{ row.body }}</p>
					<small>投稿日{{ row.create_datetime|date:"Y/m/d" }}</small>
				</div>
			</div>
			{% endfor %}
			<br/>
		{% else %}
			<p>投稿はありません・・・・。</p>
		{% endif %}
			<div class="row">
				<a href="/new/">
					<button type="button" class="btn btn-primary btn-lg">新しく投稿する！</button>
				</a>
			</div>
		</div>
	</body>
</html>
