<html>
	<head>
		<title>ろぐいん</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">

			<div class="row">
				<form role="" action="" method="post">
				{% csrf_token %}
					<div class="form-group col-xs-4">
						<label for="uname">ユーザー名</label>
						<input type="text" class="form-control input-lg" id="uname" name="username" />
				</div>
					<div class="form-group col-xs-4">
						<label for="pass">パスワード</label>
						<input type="password" class="form-control input-lg" id="pass" name="password" />
				</div>
					<input class="btn btn-default btn-lg" type="submit" />
				</form>
			</div>

		</div>
	</body>
</html>
