<html>
	<head>
		<title>ろぐいん</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">

			<br/>
			{% ifequal request "POST" %}
				{% if not user.is_authenticated %}
			<div class="alert alert-danger">
				<strong>入力情報が誤っています。</strong>
			</div>
				{% else %}<!-- 動かず -->
					{% if not user.is_active %}
			<div class="alert alert-danger">
				<strong>このユーザーは失効されています。</strong>
			</div>
					{% endif %}
				{% endif %}
			{% endifequal %}
			<div class="col-xs-4">
				<form class="form-horizontal" role="form" action="" method="post">
				{% csrf_token %}
					<div class="form-group">
						<label for="uname">ユーザー名</label>
						<input type="text" class="form-control input-lg" id="uname" name="username" />
					</div>
					<div class="form-group">
						<label for="pass">パスワード</label>
						<input type="password" class="form-control input-lg" id="pass" name="password" />
					</div>
					<div class="form-group">
						<input class="btn btn-default btn-lg" type="submit" />
					</div>
				</form>
			</div>
			<br/>

		</div>
	</body>
</html>
