<html>
	<head>
		<title>ろぐあうと</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<div class="page-header">
					<h2>ログアウトしました。</h2>
				</div>
				<a type="button" class="btn btn-success btn-lg" href="/">トップページに戻る</a>
				<a type="button" class="btn btn-info btn-lg" href="/login/?next=/">別のアカウントでログイン</a>
			</div>
		</div>
	</body>
</html>
