<html>
	<head>
		<title>投稿</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<br/>
			{% if posted %}
				{% if not form.title.value %}
			<div class="alert alert-warning">
				<h5><strong>題名を入力してください。</strong></h5>
			</div>
				{% endif %}
				{% if not form.body.value %}
			<div class="alert alert-warning">
				<h5><strong>本文を入力してください。</strong></h5>
			</div>
				{% endif %}
			{% else %}
			<div class="alert alert-info">投稿する内容を入力してください。</div>
			{% endif %}
			<form role="form" action="" method="post">
			{% csrf_token %}
				<div class="form-group">
					<label>{{form.title.label}}{{form.title}}</label>
				</div>
				<div class="form-group">
					<label>{{form.body.label}}{{form.body}}</label>
				</div>
				<input type="submit" class="btn btn-lg btn-primary" value="投稿！" />
				<a href="/" type="button" class="btn btn-lg btn-warning">キャンセル</a>
			</form>
			<br/>
		</div>
	</body>
</html>
